[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"
coverage = "*"

[packages]
django = "==2.2.10"
markdown = "*"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
gunicorn = "*"
django-simpleui = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}

[requires]
python_version = "3.7"
