[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"
coverage = "*"

[packages]
django = "==2.2.27"
markdown = "*"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
gunicorn = "*"
django-simpleui = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}
django-haystack = "*"
djangorestframework = "*"
django-filter = "*"

[requires]
python_version = "3.7"
